@import '../utils/mixins';

.menu,
.language-menu,
.help-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #161632;
  transition: left 0.3s ease;
  z-index: 100;
  overflow-y: hidden !important;
  padding: 20px;
  box-sizing: border-box;

  @include on-desktop {
    display: none;
  }

  &.open {
    left: 0;
  }

  &__title {
    margin-top: 0;
    color: #00d4ff;

    span {
      color: #00d4ff;
      background-color: #161632;
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #333;
  }
}

.help-menu {
  &__text {
    font-size: 14px;
    color: #ccc;
  }

  &__link {
    color: #00d4ff;
    text-decoration: underline;
    display: block;
    margin: 5px 0;
  }
}

.menu {
  &.open {
    left: 0;
  }
  &__wrapper--closed {
    display: flex;
    justify-content: flex-end; /* кнопка праворуч */
    align-items: center;

    width: 100%;
  }
}
